.ipynb_checkpoints/
.idea/
.metadata/
.recommenders/
.ipynb_checkpoints/
.project
.settings/
.class
target/
node_modules/
bower_components/
RemoteSystemsTempFiles/
Servers/
build/
Assignment2/Data
midterm/data
Assignment3/Data